.success {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

    &-img {
        width: 206px;
        height: 167px;
        max-width: 206px;
        min-height: 167px;
        min-width: 206px;
        max-height: 167px;
        display: block;

        img {
            width: 206px;
            height: 167px;
            max-width: 206px;
            min-height: 167px;
            min-width: 206px;
            max-height: 167px;
        }
    }

    &-text {
        color: #FFF;
        text-align: center;
        font-family: "TT Firs Neue";
        font-size: 28px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        text-transform: uppercase;
        margin: 35px 0;
        display: block;
    }

    &-btn{
        color: #FFF;
        font-family: "TT Firs Neue";
        font-size: 15px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        letter-spacing: 0.3px;
        display: block;
    }
}