*{
    transition: 300ms !important;
}

.btn-yellow {
	display: block;
    border-radius: 100px;
    background: var(--grad, linear-gradient(85deg, #FFA723 -18.08%, #F1950B 90.14%));
    box-shadow: 0px 0px 9.8px 0px rgba(255, 167, 35, 0.50);
    color: #FFF;
    font-family: "TT Firs Neue";
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.3px;
    padding: 15px 30px;
    border: none;
    outline: none;
    transition: 300ms !important;
    cursor: pointer !important;

    &:hover {
        background: linear-gradient(85deg, #136BFF -18.08%, #00BCFF 90.14%);
        box-shadow: 0px 0px 9.8px 0px rgba(0, 188, 255, 0.50);
    }


}


.btn-blue {
    border-radius: 100px;
    background: linear-gradient(85deg, #136BFF -18.08%, #00BCFF 90.14%);
    box-shadow: 0px 0px 9.8px 0px rgba(0, 188, 255, 0.50);
    color: #FFF;
    font-family: "TT Firs Neue";
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.3px;
    padding: 15px 30px;
    border: none;
    outline: none;
    transition: 300ms !important;
    cursor: pointer !important;

    &:hover {
		background: var(--grad, linear-gradient(85deg, #FFA723 -18.08%, #F1950B 90.14%));
    	box-shadow: 0px 0px 9.8px 0px rgba(255,167,35,.5);
	}
}



.btn__choose {
    display: flex;
    justify-content: start;
    align-items: center;
    margin-top: 50px;
}

.btn__send {
    width: 480px;
    margin-top: 30px;
}

.iti {
    width: 100% !important;
    max-width: 100% !important;
}

.header.btn.my-profile__active {
    background: white !important;
    color: black !important;
}

@media (max-width: 575.98px) {

    .btn__wrapper {
        margin-top: 30px;
    }
}

@media (max-width: 500px) {
    .btn {
        width: 100%;
        padding: 15px;
    }
}

@media (max-width: 400px) {
    .btn-yellow {
        width: 100% ;
    }

    .btn-blue {
        width: 100%;
    }
}