.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    max-width: 100%;
    z-index: 20;
    padding: 25px 0;
    transition: 0.3s ease;
    background: #091c43bd !important;
    backdrop-filter: blur(5px);
    transition: 300ms !important;
/*     &.scrolled {
        background: var(--black);
    } */

    &__wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        gap: 30px;
    }

    &__logo {
        z-index: 22;
        width: 210px;
        height: 50px;

        img {
            width: 100%;
            height: 100%;
        }
    }

    &__item {
        display: flex;
        align-items: center;
        position: relative;
        z-index: 22;

        &-right {
            justify-content: space-between;
        }

        &-center {
            display: flex;
            align-items: center;
            margin-right: 45px;
        }

        &_inner {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 45px;

            &_link {
                position: relative;
                color: white;
                font-family: "SF Pro Display";
                font-size: 14px;
                font-style: normal;
                font-weight: 500;
                line-height: normal;
                letter-spacing: 0.28px;
                text-align: center;
                transition: 300ms;

                &:last-of-type{
                    &::after{
                        // width: 0;
                        // height: 0;
                        opacity: 0;
                    }
                }

                &::after {
                    content: '';
                    position: absolute;
                    bottom: -10px;
                    left: -110%;
                    display: block;
                    width: 100%;
                    height: 2px;
                    border-radius: 100px;
                    background: linear-gradient(85deg, #136BFF -18.08%, #00BCFF 90.14%);
                    box-shadow: 0px 0px 9.8px 0px rgba(0, 188, 255, 0.50);
                    opacity: 0;
                    transition: 300ms;
                    z-index: -1;
                }

                &:hover {
                    color: #00BCFF;

                    &::after {
                        opacity: 1;
                        left: 0;
                        z-index: 1;
                    }
                }

                

                .btn {
                    display: none !important;
                    // margin-top: 5px;
                    // margin: 5 15px;
                }




            }
        }

        .lang {
            margin-right: 30px;
            z-index: 22;

            &__container {
                position: relative;
            }

            &__wrapper {
                position: absolute;
                justify-content: flex-start;
                top: 100%;
                left: 50%;
                width: 70px;
                transform: translateX(-50%);
                flex-shrink: 0;
                display: flex;
                flex-direction: column;
                align-items: center;
                border-radius: 20px;
                background: #373C79;
                gap: 10px;
                max-height: 0;
                opacity: 0;
                pointer-events: none;
                transition: 0.3s ease;
                padding: 5px 7px;
                border: 1px #494F92 solid;

                .lang__item {
                    padding: 0;
                    bottom: 0;
                    color: #FFF;
                    font-family: Inter;
                    font-size: 13px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: 15.6px;
                    transition: 300ms;

                    &:hover {
                        color: #0086E7;
                    }
                }
            }

            &__item {
                display: flex;
                align-items: center;
                color: #fff;
                font-size: 0.6rem;
                font-style: normal;
                font-weight: 700;
                line-height: normal;
                cursor: pointer;
                text-transform: uppercase;
                gap: 5px;
                padding: 5px 7px;
                transition: 0.3s ease;

                .g {
                    transition: 0.3s ease;

                    svg {
                        fill: #fff;
                    }
                }
            }

            &.active {
                .lang__item {
                    border-radius: 5px 5px 0 0;
                    // background: #10234c;

                    .g {
                        transform: rotate(-180deg);
                    }
                }

                .lang__wrapper {
                    padding: 5px;
                    max-height: 200px;
                    opacity: 1;
                    pointer-events: all;
                    margin-top: 5px;

                    .lang__item {
                        border-radius: 0 0 5px 5px;
                    }
                }
            }
        }
    }

    &-btn {
        color: #FFF;
        font-family: "TT Firs Neue";
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        letter-spacing: 0.28px;
        padding: 11px 30px;
        border-radius: 100px;
        border: 1px solid #FFF;
        text-align: center;
        transition: width 3s ease !important;

        &:hover {
            background: var(--grad, linear-gradient(85deg, #FFA723 -18.08%, #F1950B 90.14%));
            box-shadow: 0px 0px 9.8px 0px rgba(255, 167, 35, 0.50);
            border: 1px solid transparent;
            color: white;
        }

    }



    .burger {
        display: none;
        position: relative;
        z-index: 22;
    }

    .closeMoboliMenu {
        display: none;
    }

    &.main {
        background: var(--black);
    }
}

.header-btn__mobile {
    display: none;
    color: #FFF;
    font-family: "TT Firs Neue";
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.28px;

    border-radius: 100px;
    border: 1px solid #FFF;
    text-align: center;
    transition: width 3s ease !important;

    &:hover {
        background: var(--grad, linear-gradient(85deg, #FFA723 -18.08%, #F1950B 90.14%));
        box-shadow: 0px 0px 9.8px 0px rgba(255, 167, 35, 0.50);
        border: 1px solid transparent;
        color: white;
    }

    a {
        padding: 11px 30px;
    }

}

.iti {
    width: 100% !important;
    max-width: 100% !important;
}

@media (max-width: 1250px) {
    .header__item_inner {
        gap: 30px;
    }
}

@media (max-width: 1199.98px) {
    .header {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        width: 100%;
        max-width: 100%;
        z-index: 20;
        padding: 25px 0;
        transition: 0.3s ease;
        background: var(--black);

        &.scrolled {
            background: var(--black);
        }

        &__wrapper {
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 100%;
            gap: 30px;
        }

        &__item {
            display: flex;
            align-items: center;
            position: relative;

            &-center {
                display: flex;
                align-items: center;
                margin-right: 30px;
            }

            &_inner {
                gap: 30px;
            }
        }
    }
}

@media (max-width: 1140px) {
    .header {
        transition: 0.3s ease;
        background: transparent;

        &.scrolled {
            background: var(--black);
        }

        .mobileMenu {
            position: fixed;
            background: rgba(29, 27, 25, 0.8);
            width: 100%;
            height: 100vh;
            right: -100%;
            top: 0;
            transition: 0.4s;
            margin: 0;
            display: flex;
            justify-content: flex-end;
            z-index: 999;

            &-active {
                right: 0;
            }

            &__container {
                padding: 100px 20px 20px 45px;
                padding-top: 100px !important;
                height: 100%;
                width: 65%;
                background: var(--black);
                padding-top: var(--header-height);
                padding-bottom: 50px;
                display: flex;
                flex-direction: column;
                align-items: start;
                justify-content: start;
                text-align: left;
            }

            .mobile__botton {
                display: flex !important;
                align-items: center;
                flex-direction: column;
                gap: 30px;
            }
        }

        &__item {

            .btn {
                display: none;
            }

            &-right {
                z-index: 999;
            }

            &_inner {


                &-nav {
                    gap: 25px;
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    width: 100%;
                    // max-height: calc(100% - 95px - 74px);
                }

                &_link {
                    font-size: 16px;

                    .btn {
                        display: block !important;
                    }

                    &::after {
                        display: block;
                    }
                }
            }
        }

        .burger {
            display: flex;
            cursor: pointer;
            width: 24px;
            height: 20px;
            cursor: pointer;

            &__wrapper {
                position: relative;
                width: 100%;


                span {
                    width: 100%;
                    height: 3px;
                    border-radius: 15px;
                    position: absolute;
                    left: 0;
                    background: #fff;
                    transition: 0.3s ease;

                    &:nth-child(1) {
                        top: 0;
                    }

                    &:nth-child(2) {
                        top: 50%;
                        transform: translateY(-50%);
                        width: 60%;
                        margin-left: 40%;

                    }

                    &:nth-child(3) {
                        bottom: 0;
                    }
                }
            }

            &.active {
                span {
                    &:nth-child(1) {
                        top: 50%;
                        transform: translateY(-50%) rotate(45deg);
                    }

                    &:nth-child(2) {
                        opacity: 0;
                    }

                    &:nth-child(3) {
                        bottom: 50%;
                        transform: translateY(50%) rotate(-45deg);
                    }
                }
            }
        }


    }

    .header-btn {
        display: none;
    }

    .header-btn__mobile {
        display: flex;
        width: 100%;
        text-align: center;
        justify-content: center;
        align-items: center;

        a {
            width: 100%;
        }
    }
}

@media (max-width: 620px) {
    .header .mobileMenu__container {
        width: 90%;
    }

    .header__item_inner_link{
        font-size: 15px !important;
    }
}

@media (max-width: 574px) {
    .header {
        padding: 20px 0;

        &__item {
            &_inner {
                &-logo {
                    img {}
                }

                &_link {
                    font-size: 0.8rem;
                }
            }
        }
    }
}

@media (max-width: 450px){
    .header__item_inner_link{
        font-size: 14px !important;
    }
}